.starships {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.starships-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.filter-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.starships-buttons {
    display: flex;
    justify-content: center;
}